extends layout
block content
  .jumbotron.jumbotron-fluid
    .container
      h1.display-4 About Us
      // Candidates
      br
      .container-fluid
        form(action='/vote/candidates', method='POST')
          .card-deck
            .card.text-center
                img.card-img-top(src='images/best.jpg', alt='Card image cap')
                .card-body
                  h5.card-title Tharnandorn Sornpetch
            .card.text-center
                img.card-img-top(src='images/matoom.jpg', alt='Card image cap')
                .card-body
                  h5.card-title Chairat Wimolrat
            .card.text-center
                img.card-img-top(src='images/pownthep.jpg', alt='Card image cap')
                .card-body
                  h5.card-title Pownthep Laokunthot
