extends layout
block content
      .container
        h1.display-4 About Us
        form(action='/vote/candidates', method='POST')
          .card-deck
            .card.text-center
              a(href='https://www.facebook.com/Alberto.Vetimiglia')
                img.card-img-top(src='images/matoom.jpg', alt='Card image cap')
              .card-body
                h5.card-title Chairat Wimolrat
            .card.text-center
              a(href='https://www.facebook.com/dhoy.laokhunthot')
                img.card-img-top(src='images/pownthep.jpg', alt='Card image cap')
              .card-body
                h5.card-title Pownthep Laokunthot
            .card.text-center
              a(href='https://www.facebook.com/tharnandorn.sornpetch')
                img.card-img-top(src='images/best.jpg', alt='Card image cap')
              .card-body
                h5.card-title Tharnandorn Sornpetch      
