extends layout

block content
    .container
        h1.display-4 Addresses
        .row.justify-content-md-center
        .table-responsive-sm
            table.table.table-bordered.table-striped
                each val in addresses
                    tr(class="animated slideInUp")
                        th(scope='col')=val