extends layout
block content
  h1.display-4 Candidates
  .container-fluid
    form(action='/vote', method='POST')
      #form-group
        label body:
        textarea.form-control(name='body')
      br
      input.btn.btn-primary(type='submit', value='Submit')            
