extends layout
block content
  script(src="/js/card_delete.js")
  script(src="/js/timer.js")
  .container
    h1.display-4#time
  #div01.container
    h1.display-4 Candidates
    form(action='/users/vote', method='POST')
    #div02.card-deck
      #card01.card(class='animated slideInRight')
        img.card-img-top(src='/images/c03.jpg', alt='Card image cap')
        .card-body.text-center
          h5.card-title 58130500252
          h4.card-text Tharnandorn Sornpetch

      #card02.card(class='animated slideInRight')
        img.card-img-top(src='/images/c03.jpg', alt='Card image cap')
        .card-body.text-center
          h5.card-title 58130500209
          h4.card-text Chairat Wimolrat

      #card03.card(class='animated slideInRight')
        img.card-img-top(src='/images/c03.jpg', alt='Card image cap')
        .card-body.text-center
          h5.card-title 58130500236
          h4.card-text Pownthep Laokunthot
    br
    br
    h1.display-4 Party
    #div03.card-deck
      #card101.card(class='animated slideInRight')
        img.card-img-top(src='/images/p01.svg', alt='Card image cap')
        .card-body.text-center
          h5.card-title Facebook

      #card102.card(class='animated slideInRight')
        img.card-img-top(src='/images/forrst.svg', alt='Card image cap')
        .card-body.text-center
          h5.card-title Forrst

      #card103.card(class='animated slideInRight')
        img.card-img-top(src='/images/xing.svg', alt='Card image cap')
        .card-body.text-center
          h5.card-title Xing
    br
    input#candidateId(type='hidden', name='candidate', value='3487')
    input#partyId(type='hidden', name='party', value='3487')
    button#btn03.btn.btn-primary(type='submit') Next       
