extends layout
block content
  .jumbotron.jumbotron-fluid
      .container
        h1.display-4 Candidates
        // Candidates
        form(action='/vote/candidates', method='POST')
          .card-deck
            .col-md-4
              .card(style='width: 18rem;')
                button(name='select_candidate', type='summit', value='THARNANDORN', border='black')
                  img.card-img-top(src='images/best.jpg', alt='Card image cap')
                  .card-body
                    p.card-text 58130500252
                    p.card-text Tharnandorn Sornpetch
            .col-md-4
              .card(style='width: 18rem;')
                button(name='select_candidate', type='submit', value='THARNANDORN')
                  img.card-img-top(src='images/matoom.jpg', alt='Card image cap')
                  .card-body
                    p.card-text 58130500209
                    p.card-text Chairat Wimolrat
            .col-md-4
              .card(style='width: 18rem;')
                button(name='select_candidate', type='submit', value='THARNANDORN')
                  img.card-img-top(src='images/pownthep.jpg', alt='Card image cap')
                  .card-body
                    p.card-text 58130500236
                    p.card-text Pownthep Laokunthot
