extends layout
block content
  h1.display-4 Candidates
  .container-fluid
    form(action='/vote/candidates', method='POST')
      .card-deck
        .card.text-center
          img.card-img-top(src='images/candidate01.svg', alt='Card image cap')
          .card-body
            h5.card-title 58130500252
            h4.card-text Tharnandorn Sornpetch
        .card.text-center
          img.card-img-top(src='images/candidate02.svg', alt='Card image cap')
          .card-body
            h5.card-title 58130500209
            h4.card-text Chairat Wimolrat
        .card.text-center
          img.card-img-top(src='images/candidate03.svg', alt='Card image cap')
          .card-body
            h5.card-title 58130500236
            h4.card-text Pownthep Laokunthot
