extends layout

block content
  h1.display-4 Candidate
  .container-fluid
    #carouselExampleControls.carousel.slide(data-ride='carousel' data-interval="false")
      .carousel-inner
        .carousel-item.active
          .btn-group-toggle(data-toggle='buttons')
            label.btn.btn-primary
              img.d-block.w-100(src='images/candidate01.svg', alt='First slide')
              h5.card-title 58130500252
              h4.card-text Tharnandorn Sornpetch
              input#candidate(type='radio', name='candidate', value='BEST',autocomplete='off')


        .carousel-item
          .btn-group-toggle(data-toggle='buttons')
            label.btn.btn-primary
              img.d-block.w-100(src='images/candidate02.svg', alt='Second slide')
              h5.card-title 58130500252
              h4.card-text Tharnandorn Sornpetch
              input#candidate(type='radio', name='candidate', value='BEST',autocomplete='off')
              windows

        .carousel-item
          .btn-group-toggle(data-toggle='buttons')
            label.btn.btn-primary
              img.d-block.w-100(src='images/candidate03.svg', alt='Third slide')
              h5.card-title 58130500252
              h4.card-text Tharnandorn Sornpetch
              input#candidate(type='radio', name='candidate', value='BEST',autocomplete='off')

      a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
  h1.display-4 Party
  .container-fluid
    #carouselExampleControls2.carousel.slide(data-ride='carousel' data-interval="false")
      .carousel-inner
        .carousel-item.active
          .btn-group-toggle(data-toggle='buttons')
            label.btn.btn-primary
              img.d-block.w-100(src='images/party01.png', alt='First slide')
              input#party(type='radio', name='party', value='party1',autocomplete='off')
        .carousel-item
          .btn-group-toggle(data-toggle='buttons')
            label.btn.btn-primary
              img.d-block.w-100(src='images/party02.png', alt='Second slide')
              input#party(type='radio', name='party', value='party2',autocomplete='off')

      a.carousel-control-prev(href='#carouselExampleControls2', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleControls2', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
