extends layout

block content
    .container
        h1.display-4 Config
        form(action='/users/login', method='POST')
            .form-group
                input(name="username" placeholder='Username' type="text" value=id)
            .form-group
                input(name="password" placeholder='Password' type="password" value=password)
            button.btn.btn-primary(type='submit') Login