extends layout
block content
  .container
    h1.display-4(class='animated slideInUp') Welcome to Electioner
      p.lead This is best election system the world has ever seen!
      br
      center
      button.btn.btn-primary.btn-lg(type='button', onclick="location.href = '/users/login'") Vote Now
    