extends layout
block content
  .container-fluid
    .bg-image
    h1.display-4 Welcome to Electioner
    p.lead This is best election system the world has ever seen
    br
    center
      button.btn.btn-outline-secondary.btn-lg(type='button', onclick="location.href = '/candidates'") Vote Now
