extends layout

block content
    #loginContainer.container(class='animated slideInRight')
        form(action='/users/login', method='POST')
            h4 Login
            .form-group
                input(name="username" placeholder='Username' type="text" value=id)
            .form-group
                input(name="password" placeholder='Password' type="password" value=password)
            button.btn.btn-primary(type='submit') Login
            