extends layout

block content
    .container(class='animated slideInRight')
        form(action='/users/login', method='POST')
            h4 Login
            .form-group
                input(name="username" placeholder='Username' type="text")
            .form-group
                input(name="password" placeholder='Password' type="password")
            button.btn.btn-primary(type='submit') Login