extends layout
block content
  script(src="/js/card_delete.js")
  .container
    h1.display-4 Candidates
  #div01.container
    form(action='/users/vote-party', method='POST')
      #div02.card-deck
        #card01.card(class='animated slideInRight')
          img.card-img-top(src='/images/candidate01.svg', alt='Card image cap')
          .card-body.text-center
            h5.card-title 58130500252
            h4.card-text Tharnandorn Sornpetch

        #card02.card(class='animated slideInRight')
          img.card-img-top(src='/images/candidate02.svg', alt='Card image cap')
          .card-body.text-center
            h5.card-title 58130500209
            h4.card-text Chairat Wimolrat

        #card03.card(class='animated slideInRight')
          img.card-img-top(src='/images/candidate03.svg', alt='Card image cap')
          .card-body.text-center
            h5.card-title 58130500236
            h4.card-text Pownthep Laokunthot
      br
      button#btn03.btn.btn-primary(type='button') Next       
