body
{
    background-color: #ededed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.mynav{
  background-color: #ededed;
}
.navbar{
  background-color: transparent !important;
}
.navbar a:hover{
  transition: 0.3s;
}
.container{
    text-align: center;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}
.card:hover{
  border: black;
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, alpha);
}
.jumbotron{
  background-color: #ededed;
}
.card-img-top{
  width: 100%;
  height: auto;
  object-fit: cover;
}
